# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/

# SQLite
db.sqlite3

# Django stuff
*.log
staticfiles/
media/

# VSCode
.vscode/

# macOS system files
.DS_Store

# Docker
*.env
